body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #303070;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0;
}

.files-wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 30px auto 0;
}

.buttons-wrapper {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

@media (max-width: 1440px) {
  .files-wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 992px) {
  .files-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 768px) {
  .files-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .files-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 375px) {
  .files-wrapper {
    grid-template-columns: 1fr;
  }
}
